<h1>User#show</h1>
  <%= @user.name %>
  <br>
  <%= "フォローしています" if @user.followed_flag == 1 %>
  <%= "フォローしていません" if @user.followed_flag == 0 %>

<%= form_for(@user, :url => {:controller => 'user_relationships', :action => 'update'}) do |f| %>
 <%= f.check_box :followed_flag,{},1,0 %>

  <%= f.submit %>
<% end %>
