<div class="span1">
  <img src="<%= @post.user.image_url %>">
</div>
<div class="span5">
<h2><%= @post.user.name %></h2>
</div>
<legend>
</legend>


<legend>
<div class="span1">
</div>
<div class="span5">
    <h4><%= @post.body %></h4>
</legend>
</div>
<div class="span2"></div>
<br>
<br>
<br>
<div class="span8">
<div class="span6">
  <h3>コメント</h3>
  <legend>
    <table class="table">
      <% @comments.each do |comment| %>
        <% next if comment.body.nil? %>
      <tr>
        <td width="50">
          <img src="<%= comment.user.image_url %>" width="30" height="30">
        </td>
        <td>
          <h6><%= comment.body %></h6>
        </td>
      </tr>
      <% end %>
    </table>
  </legend>
</div>
<div class="span2"></div>
</div>
<div class="span8">
<%= form_for shallow_args(@post, @comment), html: { class: 'form-vertical'} do |f| %>
  <%= f.text_area :body %>
  <br>
  <%= f.submit "投稿", :class => "btn btn-primary" %>
<% end %>

<br>
<a href="/users" class="btn">一覧へ戻る</a>
  <br>
</div>
