<legend><h2><%= @post.user.name %> の投稿</h2></legend>
<div class="span6">
  <legend>
    <h4><%= @post.body %></h4>
  </legend>
</div>
<div class="span2"></div>
<br>
<div class="span8">
<div class="span5">
  <h3>コメント</h3>
  <legend>
    <% @comments.each do |comment| %>
      <h5><%= comment.body %></h5>
    <% end %>
  </legend>
</div>
<div class="span3"></div>
</div>
<div class="span8">
<%= form_for shallow_args(@post, @comment), html: { class: 'form-vertical'} do |f| %>
  <%= f.text_area :body %>
  <br>
  <%= f.submit "投稿", :class => "btn btn-primary" %>
<% end %>

<br>
<a href="/users" class="btn">一覧へ戻る</a>
  <br>
</div>
